*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
*.apk
*.aab
*.pte
# Keep .bin assets for conditioning data
!app/src/main/assets/*.bin
